:root { 
--black_900_7f:#0000007f; 
--gray_50_01:#fbfbfb; 
--black_900_b2:#000000b2; 
--blue_gray_50:#f1f1f1; 
--white_A700_3f:#ffffff3f; 
--blue_A400:#2f82ff; 
--green_A700_02:#20e734; 
--light_blue_A200:#33beff; 
--green_A700_01:#00fa19; 
--teal_900_a5:#064635a5; 
--red_500:#ff3333; 
--black_900_3f:#0000003f; 
--green_600:#519259; 
--gray_50:#fff8f8; 
--green_A700:#00e717; 
--teal_900_72:#06463572; 
--black_900_66:#00000066; 
--yellow_A400:#e5e500; 
--black_900:#000000; 
--teal_900:#064635; 
--green_600_99:#51925999; 
--blue_gray_700:#535252; 
--red_A700:#ff0000; 
--gray_600:#808080; 
--black_900_4c:#0000004c; 
--gray_700:#6a6a6a; 
--gray_400:#b3b3b3; 
--gray_500:#aaaaaa; 
--blue_gray_100:#d9d9d9; 
--black_900_8c:#0000008c; 
--gray_900:#151515; 
--green_600_b2:#519259b2; 
--gray_200:#efeeee; 
--gray_300:#e2e2e2; 
--gray_300_01:#dbdbdb; 
--teal_900_7f:#0646357f; 
--teal_A400:#33ff8a; 
--black_900_99:#00000099; 
--black_900_33:#00000033; 
--gray_400_01:#b0b0b0; 
--gray_400_02:#b5b5b5; 
--red_A700_01:#fa0000; 
--white_A700:#ffffff; 
--teal_900_66:#06463566; 
--black_900_59:#00000059; 
}